HTTP/1.0 503 Service Unavailable
Cache-Control: no-cache
Connection: close
Content-Type: text/html

<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8>
<title>Servidor fora do ar</title>
<style>
body{font-family:Arial, Helvética, sans-serif;color:#303030;padding:0;margin:0 auto;}
.botao{margin:350px 0 0 254px;position:absolute;height:50px;width:70px;z-index:1;display:block;}
#container{top:50%;height:449px;width:580px;margin:-220px 0 0 -260px;position:absolute;text-align:center;left:50%;}
</style>
</head>
<body >
<div id="container"><a href="javascript:location.reload()" class="botao"></a>
<img src="http://cf.jusbr.com/image/errors/server_error.gif" alt="Amigo, nossos servidores estão fora do ar. Por favor retorne em breve. Clique na casa para tentar novamente." /></div>
</body>
</html>
